<div class="panel-heading text-center" style='font-weight: bold'>
Incluir data de início e fim do semestre</div>

<div class="panel-body">
  <%= form_for @semester, url: semester_update_date_path(@semester) do |f| %>
      <div class="form-group">
        <label class="control-label col-sm-4" for="name">
          <%= t('activerecord.attributes.semester.name') + ':' %>
        </label>
        <div class="col-sm-8">
          <p class="form-control-static"><%= @semester.year %>/<%= @semester.parity_as_i %></p>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="">
          Data de início:
        </label>
        <!-- <%= f.label :nusp, "Número USP" %> -->
        <div class="col-sm-8">
          <%= f.date_field :started_at %> 
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4" for="">
          Data de término:
        </label>
        <div class="col-sm-8">
          <%= f.date_field :finished_at %> 
        </div>
      </div>

      <div class="actions" style="text-align:center;">
        <%=  f.submit "Salvar", {class: "btn btn-primary"} %>
      </div>
  <% end %>
</div>