<h1>Pedidos de Monitoria</h1>

<div class="row">
  <div class="col-sm-4">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
        <%= @semester.as_s %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <% Semester.all.reverse.each do |semester| %>
          <li><%= link_to semester.as_s, request_for_teaching_assistants_for_semester_path(semester)%></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% if secretary_signed_in? or (user_signed_in? and super_professor_signed_in?) %>
    <div class="col-sm-4">
      <%= button_link_to "Pedir monitor(es) para um(a) professor(a)", new_request_for_teaching_assistant_path(@semester) %>
    </div>
    <div class="col-sm-4"></div>
  <% end %>
  <div class="col-sm-8"></div>
</div>

<h2>Pedidos do <%= @semester.as_s %></h2>
<% if @should_have_department_sort %>
  <div style="text-align:center" class="biggerText">
    <input type="radio" name="disc" onchange="update_table(this.value)" id="MAC" value="MAC"> MAC
    <input type="radio" name="disc" onchange="update_table(this.value)" id="MAE" value="MAE"> MAE
    <input type="radio" name="disc" onchange="update_table(this.value)" id="MAP" value="MAP"> MAP
    <input type="radio" name="disc" onchange="update_table(this.value)" id="MAT" value="MAT"> MAT
    <input type="radio" name="disc" onchange="update_table(this.value)" id="ALL" value="ALL" checked> Todas
  </div>
<% end %>

<table id="requests_table" class="table table-hover">
  <thead>
    <tr>
    <th><%= t('activerecord.attributes.professor.professor') %> </th>
    <th><%= t('activerecord.attributes.request_for_teaching_assistant.subject') %> </th>
    <th><%= t('activerecord.attributes.request_for_teaching_assistant.requested_number') %> </th>
    <th><%= t('activerecord.attributes.request_for_teaching_assistant.semester_id') %> </th>
    <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<%= javascript_tag do %>
  var htmlTable = document.getElementById("requests_table");
  var courses_by_department = {};
  courses_by_department["MAC"] = <%=raw @request_for_teaching_assistants_hash["MAC"].to_json %>;
  courses_by_department["MAE"] = <%=raw @request_for_teaching_assistants_hash["MAE"].to_json %>;
  courses_by_department["MAT"] = <%=raw @request_for_teaching_assistants_hash["MAT"].to_json %>;
  courses_by_department["MAP"] = <%=raw @request_for_teaching_assistants_hash["MAP"].to_json %>;
  courses_by_department["ALL"] = <%=raw @request_for_teaching_assistants_hash["ALL"].to_json %>;

  // <!-- var request_for_teaching_assistants_MAC = <%=raw @request_for_teaching_assistants_hash["MAC"].to_json %>; -->

  function update_table(department) {
    var table = courses_by_department[department];
    var html = "";
    for (const request of table) {
      var html = html + "\n<tr>\
      <td>" + request.professor + "</td>\
      <td>" + request.course + "</td>\
      <td>" + request.requested_number + "</td>\
      <td>" + request.semester + "</td>\
      <td>" + "<a class=\"btn btn-primary\" href=\"/request_for_teaching_assistants/" + request.id + "\">Ver</a></td>\
      </tr>";
    }
    htmlTable.tBodies[0].innerHTML = html;
  }
  update_table("ALL");
<% end %>
