<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Prezado(a) <%= @recipient %>,
    </p>

    <p>
      Este é apenas um teste do envio de emails do sistema de monitorias.
    </p>
  </body>
</html>
