
<h1>Cargos de monitor aguardando confirmação</h1>

<% if @pending_roles.any? %>
  <p class="text-success lead">
    Você foi eleito para ser monitor em uma ou mais disciplinas. Por favor,
    confirme abaixo quais você aceita:
  </p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Disciplina
        </th>
        <th>
          Professor
        </th>
        <th>
          Aceita?
        </th>
      </tr>
    </thead>
    <tbody>
      <% @pending_roles.each do |role| %>
        <tr>
          <td>
            <%= role.course.full_name %>
          </td>
          <td>
            <%= role.professor.name %>
          </td>
          <td>
            <%= button_link_to 'Aceitar',  accept_assistant_role_election_path(role), method: :patch %>
            <%= button_link_to 'Recusar',  reject_assistant_role_election_path(role), method: :patch %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h1>Minhas candidaturas</h1>

<% if @candidatures.any? %>
  <% @candidatures.reverse.each do |candidature| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="2">
            <%= candidature.semester.period_as_s %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="title">
            <%= t('activerecord.attributes.candidature.course1_id') %>
          </td>
          <td class="name">
            <% course = Course.find(candidature.course1_id) %>
            <%= course.course_code + " - " + course.name %>
          </td>
        </tr>
        <% if candidature.course2_id != nil %>
          <tr>
            <td class="title">
              <%= t('activerecord.attributes.candidature.course2_id') %>
            </td>
            <td class="name">
              <% course = Course.find(candidature.course2_id) %>
              <%= course.course_code + " - " + course.name %>
            </td>
          </tr>
        <% end %>
        <% if candidature.course3_id != nil %>
          <tr>
            <td class="title">
              <%= t('activerecord.attributes.candidature.course3_id') %>
            </td>
            <td class="name">
              <% course = Course.find(candidature.course3_id) %>
              <%= course.course_code + " - " + course.name %>
            </td>
          </tr>
        <% end %>
        <% if candidature.course4_id != nil %>
          <tr>
            <td class="title">
              <%= t('activerecord.attributes.candidature.course4_id') %>
            </td>
            <td class="name">
              <% course = Course.find(candidature.course4_id) %>
              <%= course.course_code + " - " + course.name %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2"><%= button_link_to 'Mais informações', candidature %></td>
        </tr>
      </tbody>
    </table>
    <br>
  <% end %>
<% else %>
  <h2><i>Você não tem nenhuma candidatura</i></h2>
<% end %>

<h1>Minhas monitorias</h1>

<% if @roles.any? %>
  <% @roles.each do |role| %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th colspan="5">
            <%= role.semester.period_as_s %>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="title">
            Curso
          </td>
          <td class="name" colspan="4">
            <%= role.course.full_name %>
          </td>
        </tr>
        <tr>
          <td class="title">
            Professor
          </td>
          <td class="name" colspan="4">
            <%= role.professor.name %>
          </td>
        </tr>
        <tr>
          <% if role.active %>
            <td class="title">
              Presenças marcadas
            </td>
            <% role.request_for_teaching_assistant.semester.months.each do |month| %>
              <td>
                <%= month_name month %>:
                <% status = role.frequency_status_for_month(month) %>
                <% if status == "Presente" %>
                  <% style = "text-success" %>
                <% elsif status == "Pendente" %>
                  <% style = "text-warning" %>
                <% elsif status == "Ausente" %>
                  <% style = "text-danger" %>
                <% else %>
                  <% style = "text-muted" %>
                <% end %>
                <strong class="<%= style %>">
                  <%= status %>
                </strong>
              </td>
            <% end %>
          <% else %>
            <td colspan="5" class="text-center">
              <strong>DESATIVADO(A)</strong>
            </td>
          <% end %>
        </tr>
        <% if (role.report_filled?) %>
          <tr>
            <td colspan="5"><%= button_link_to 'Ver relatório', print_report_path(role.id, :format => :pdf), target: "_blank" %></td>
          </tr>
        <% elsif role.semester.evaluation_period %>
          <tr>
            <td colspan="5"><%= button_link_to 'Preencher relatório', report_form_path(role.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  <% end %>
<% else %>
  <h2><i>Você não tem nenhuma monitoria</i></h2>
<% end %>


<br>

<% if current_student? %>
  <% @semesters.each do |semester| %>
    <% if semester[:valid] %>
      <%= button_link_to "Candidatar-se para #{semester[:get].as_s}",
                  new_candidature_path(semester[:get]) %>
    <% end %>
  <% end %>
<% end %>
