
<div class="container-fluid">
  <h1>Perfil</h1>

  <div class="row" style="height:2em;"></div>

  <div class="row">

    <div class="col-sm-12 col-lg-6">

      <div class="panel panel-default">
        <div class="panel-heading text-center">Dados de usuário</div>
        <div class="panel-body">
          <form class="form-horizontal" role="form">

            <div class="form-group">
              <label class="control-label col-sm-4" for="name">
                <%= t('activerecord.attributes.user.name') + ':' %>
              </label>
              <div class="col-sm-8">
                <p class="form-control-static"><%= @user.name %></p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-4" for="nusp">
                <%= t('activerecord.attributes.user.nusp') + ':' %>
              </label>
              <div class="col-sm-8">
                <p class="form-control-static"><%= @user.nusp %></p>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-4" for="email">
                <%= t('activerecord.attributes.user.email') + ':' %>
              </label>
              <div class="col-sm-8">
                <p class="form-control-static"><%= @user.email %></p>
              </div>
            </div>


            <% if admin_signed_in? || secretary_signed_in? %>
              <div class="form-group">
                <label class="control-label col-sm-4" for="confirmed_at">
                  <%= t('activerecord.attributes.user.confirmed_at') + ':' %>
                </label>
                <div class="col-sm-8">
                  <p class="form-control-static">
                    <%= @user.confirmed_at ? @user.confirmed_at : t('activerecord.attributes.user.unconfirmed') %>
                  </p>
                </div>
              </div>
            <% end %>
          </form>
        </div>
      </div>

    </div>

    <% @user.student do |student| %>
      <div class="col-sm-12 col-lg-6">
        <% @student = student %>
        <%= render template: "students/_show" %>
      </div>
    <% end %>

    <% @user.professor do |professor| %>
      <div class="col-sm-12 col-lg-6">
        <% @professor = professor %>
        <%= render template: "professors/_show" %>
      </div>
    <% end %>

  </div>

</div>
