<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Monitoria IME-USP</title>

    <link type="text/plain" rel="author" href="humans.txt" />
    <%= javascript_include_tag :modernizr %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fuild">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
          <div class="navbar-header">
            <%= link_to "Sistema de Monitoria", "/", class: "navbar-brand" %>
          </div>
          <div>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Sobre", about_path %></li>
              <!-- Header dos usuarios normais -->
              <% if signed_in? and (admin_signed_in? or secretary_signed_in? or current_signed.student? or (current_signed.professor? and not current_signed.professor.dirty)) %>
                  <li><%= link_to "Perfil", current_signed %></li>
                  <li><%= link_to "Sair", destroy_session_path, method: :delete %></li>
              <!-- Header dos fantasmas -->
              <% elsif signed_in? and (not current_signed.student? or (current_signed.professor? and current_signed.professor.dirty)) %>
                  <li><%= link_to "Sair", destroy_session_path, method: :delete %></li>
              <!-- Header dos nao logados -->
              <% elsif Rails.env.development? %>
                  <li><%= link_to "Acesso DEV", user_omniauth_authorize_path(:developer) %></li>
              <% else %>
                  <li><%= link_to "Acesso USP", user_omniauth_authorize_path(:usp) %></li>
              <% end %>
            </ul>
          </div>
        <div class="col-sm-1"></div>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row hidden-xs hidden-sm">
        <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <% if signed_in? %>
              <p>
                Acessando como
                <b><%=admin_signed_in? ? current_signed.email : current_signed.name %></b>
              </p>
            <% else %>
              <p>
                Você ainda não fez acesso
              </p>
            <% end %>
            <hr>
          </div>
          <div class="col-sm-1"></div>
        </div>
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-2">
          <% unless signed_in? %>
            <ul class="nav nav-pills nav-stacked">
              <li><%= link_to "Acesso USP", user_omniauth_authorize_path(:usp) %></li>
              <% unless Rails.env.production? %>
                <li><%= link_to "Guia de uso (alunos)", help_students_path('home') %></li>
              <% end %>
            </ul>
          <% end %>
          <!-- Painel do admin -->
          <% if admin_signed_in? %>
            <h3>Administrador(a)</h3>
            <ul class="nav nav-pills nav-stacked">
              <li>
                <%= link_to "Cadastrar disciplina", new_course_path %>
              </li>
              <li>
                <%= link_to "Cadastrar funcionário", new_secretary_path %>
              </li>
              <li>
                 <%= link_to "Candidaturas", candidatures_path %>
              </li>
              <li>
                <%= link_to "Monitores eleitos", assistant_roles_path %>
              </li>
              <li>
                <%= link_to "Gerenciar semestres", semesters_path %>
              </li>
              <li>
                <%= link_to "Usuários", users_path %>
              </li>
              <li>
                <%= link_to "Painel de controle", control_panel_admins_path %>
              </li>
            </ul>
          <% end %>
          <!-- Painel dos funcionários -->
          <% if secretary_signed_in? %>
            <h3>Funcionário(a)</h3>
            <ul class="nav nav-pills nav-stacked">
              <li>
                <%= link_to "Gerenciar semestres", semesters_path %>
              </li>
              <li>
                <%= link_to "Pedidos de monitoria", request_for_teaching_assistants_path %>
              </li>
              <li>
                <%= link_to "Controle de frequência", assistant_frequency_monthly_control_path(Semester.current, Time.now.month, AssistantFrequency.FILTER_ALL) %>
              </li>
              <li>
                <%= link_to "Monitores eleitos", assistant_roles_path %>
              </li>
              <li>
                 <%= link_to "Candidaturas", candidatures_path %>
              </li>
              <li>
                <%= link_to "Usuários", users_path %>
              </li>
              <li>
                <%= link_to "Disciplinas", courses_path %>
              </li>
            </ul>
          <% else %>
            <% if user_signed_in? %>
              <!-- Painel dos professores -->
              <% current_user.professor do |professor| %>
                <h3>Professor(a)</h3>
                <% if not professor.dirty %>
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                      <%= link_to "Pedidos de monitoria", request_for_teaching_assistants_for_professor_path(professor) %>
                    </li>
                    <li>
                      <%= link_to assistant_roles_for_professor_path(professor) do %>
                        Meus monitores
                        <% pending = professor.currently_pending_frequencies %>
                        <% if pending.any? %>
                          <span class="label label-danger" data-toggle="tooltip" data-placement="right" title="Frequências pendentes">
                            <%= pending.count %>
                          </span>
                        <% end %>
                      <% end %>
                    </li>
                    <% unless Rails.env.production? %>
                      <li>
                        <%= link_to "Guia de uso", help_professors_path('home') %>
                      </li>
                    <% end %>
                  </ul>
                  <% if professor.super_professor? %>
                    <h3>Comissão de monitoria</h3>
                    <ul class="nav nav-pills nav-stacked">
                      <li>
                        <%= link_to "Controle de frequência", assistant_frequency_monthly_control_path(Semester.current, Time.now.month, AssistantFrequency.FILTER_ALL) %>
                      </li>
                      <li>
                        <%= link_to "Controle de pedidos", request_for_teaching_assistants_path %>
                      </li>
                      <li>
                        <%= link_to "Controle de monitores", assistant_roles_path %>
                      </li>
                      <li>
                         <%= link_to "Candidaturas", candidatures_path %>
                      </li>
                      <li>
                        <%= link_to "Cadastrar disciplina", new_course_path %>
                      </li>
                      <li>
                        <%= link_to "Usuários", users_path %>
                      </li>
                    </ul>
                  <% end %>
                <% end %>
              <% end %>
              <!-- Painel dos alunos -->
              <% current_user.student do |student| %>
                <h3>Aluno(a)</h3>
                <ul class="nav nav-pills nav-stacked">
                  <li>
                     <%= link_to "Minhas candidaturas", candidatures_path %>
                  </li>
                  <% unless Rails.env.production? %>
                    <li>
                       <%= link_to "Guia de uso", help_students_path('home') %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          <% end %>

          <% if flash[:notice] %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% if flash[:alert] %>
            <p class="alert"><%= alert %></p>
          <% end %>
        </div>
        <div class="col-sm-8">
          <%= yield %>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4 text-center">
          <hr>
          <p><strong>Dúvidas sobre o processo de inscrição</strong>: monitoria@ime.usp.br</p>
          <p><strong>Problemas com o sistema</strong>: sistemamonitoria@ime.usp.br</p>
          <p style="color:#f00"><strong>Atenção!</strong> Esse site precisa de javascript habilitado para funcionar corretamente</p>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>

  </body>
</html>
